<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bienvenidxs a MercadoLiebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://kit.fontawesome.com/0d3b97b575.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="main-header">
                <div class="form-search-bar"> 
                    <form action="" method="get">
                        <input type="search" value="Buscar productos, marcas" name="sBuscar" id="buscaProd" class="search-bar">
                    <button><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="main-header-top-bar">
                    <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                    <h2 class="copy-header"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>

            <a href="#" class="burger-button">
                <i class="fas fa-bars"></i>
            </a>
                <nav class="main-nav-bar">
                    <ul class="left-navbar">
                       <li><a href="#">Ofertas</a></li>
                       <li><a href="#">Tiendas Oficiales</a></li>
                       <li><a href="#">Vender</a></li>
                       <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="right-navbar">
                       <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                       <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                       <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
        
        </header>

        <div class="main-banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </div>
        <div class="main">
            <h3>Basado en tu última visita</h3>
                <section class="last-visit"> 
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$6.770</p>
                                    <p class="discount">40% off</p>
                                    <h4 class="description">Cafetera Moulinex</h4>
                            </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$230.000</p>
                                    <p class="discount">20% off</p>
                                    <h4 class="description">MacBook Pro 2019</h4>
                            </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$70.500</p>
                                    <p class="discount">10% off</p>
                                    <h4 class="description">Samsung Galaxy S10</h4>
                            </div>
                    </article>
                    <article>
                         <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$23.200</p>
                                    <p class="discount">5% off</p>
                                    <h4 class="description">SmartTv Samsung 43"</h4>
                            </div>
                    </article>
                </section>
        
            <h3>Ofertas</h3>
                <section class="offers">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$6.770</p>
                                    <p class="discount">40% off</p>
                                    <h4 class="description">Cafetera Moulinex</h4>
                            </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$230.000</p>
                                    <p class="discount">20% off</p>
                                    <h4 class="description">MacBook Pro 2019</h4>
                            </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$70.500</p>
                                    <p class="discount">10% off</p>
                                    <h4 class="description">Samsung Galaxy S10</h4>
                            </div>
                    </article>
                    <article>
                         <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                            <div class="main-article">
                                <div class="circle-env">
                                    <i class="fas fa-truck"></i>
                                </div>
                                    <p class="price">$23.200</p>
                                    <p class="discount">5% off</p>
                                    <h4 class="description">SmartTv Samsung 43"</h4>
                            </div>
                    </article>
                </section>  
        </div>

        <footer>
            <section class="footer-section">
                <div>
                   <i class="fas fa-credit-card icono-footer"></i>
                   <h3>Pagá con tarjeta o efectivo</h3>
                   <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
                </div>
                <div>
                   <i class="fas fa-gift icono-footer"></i>
                   <h3>Encíos gratis desde $2.500 </h3>
                   <p>Sólo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                   <i class="fas fa-user-shield icono-footer"></i>
                   <h3>Seguridad de principio a fin.</h3>
                   <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegid@</p>
                </div>
            </section>
            <section>
                <div>
                   <p class="Copy-right">Copyright @1999-2020 Mercado Liebre</p>
                </div>
            </section> 
        </footer>
        
    </body>
</html>